//LOCATE COMP "clk" SITE "P6";
//IOBUF PORT "clk" IO_TYPE=LVCMOS33;
//FREQUENCY PORT "clk" 25 MHZ;

// input
LOCATE COMP "a[0]" SITE "D9";
INPUT PORT "a[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "a[1]" SITE "C9";
INPUT PORT "a[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "a[2]" SITE "B9";
INPUT PORT "a[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "a[3]" SITE "A9";
INPUT PORT "a[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "b[0]" SITE "D8";
INPUT PORT "b[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "b[1]" SITE "C8";
INPUT PORT "b[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "b[2]" SITE "B8";
INPUT PORT "b[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "b[3]" SITE "A8";
INPUT PORT "b[3]" IO_TYPE=LVCMOS33;

// output
LOCATE COMP "seg7[6]" SITE "C5"; // A
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[5]" SITE "B5"; // B
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[4]" SITE "A5"; // C
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[3]" SITE "C4"; // D
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[2]" SITE "B4"; // E
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[1]" SITE "A4"; // F
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[0]" SITE "C3"; // G
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[7]" SITE "B3"; // DP
IOBUF PORT "seg7[7]" IO_TYPE=LVCMOS33;